In [2]:
import pandas as pd
from common.text_utils import normalized
from common.text_pattern import TITLE_PATTERN
from tqdm import tqdm

In [8]:
train_data_path = "data/training/all_concat_name.tsv"
eval_data_path = "data/eval/"

In [26]:
#for training files
df_train = pd.read_table(train_data_path,encoding='utf-8',usecols=[0, 1], names = ['name', 'label'])
df_train.drop_duplicates(inplace = True)
df_train['name'] = [normalized(name,folding= True) for name in tqdm(df_train['name'])]
df_train.drop_duplicates(inplace = True)
df_train.to_csv("data/cleaned_data/training/train.csv")

100%|██████████| 2552825/2552825 [00:17<00:00, 144951.56it/s]

In [25]:
test_datasets = ["localch","random_names_eval","Table-S6-career-2019","viet_unigram_names"]
for dataset in test_datasets:
    df_test = pd.read_table(eval_data_path + dataset + ".tsv",encoding='utf-8',usecols=[0, 1], names = ['name', 'label'])
    df_test.drop_duplicates(inplace = True)
    df_test['name'] = [normalized(name,folding= True, blacklist_patterns= TITLE_PATTERN) for name in tqdm(df_test['name'])]
    df_test.drop_duplicates(inplace = True)
    df_test.to_csv("data/cleaned_data/testing/"+ dataset+".csv")

100%|██████████| 131361/131361 [00:01<00:00, 87671.94it/s]
100%|██████████| 19990/19990 [00:00<00:00, 94934.05it/s]
100%|██████████| 157421/157421 [00:01<00:00, 124111.89it/s]
100%|██████████| 70500/70500 [00:00<00:00, 94820.48it/s]

In [15]:
df_training = pd.read_csv("data/cleaned_data/training/train.csv",encoding='utf-8',usecols=[1,2])
df_train.isna().any()

name     False
label    False
dtype: bool

In [20]:
print(df_train.isna().any())
df_train

name     False
label    False
dtype: bool

                       name  label
0                que adrong      0
1        h yua liana adrong      0
2              trang adrong      1
4              h mac adrong      0
5             lizzie adrong      1
...                     ...    ...
4126090         do dinh hau      1
4126092      dang bich hien      1
4126093       dang hung van      1
4126094     dang nam thuong      1
4126098        dang thi cai      1

[2431899 rows x 2 columns]

In [28]:
df_training = pd.read_csv("data/cleaned_data/training/train.csv",encoding='utf-8',usecols=[1,2])
df_training.dropna(inplace=True)
df_training.isna().any()

name     False
label    False
dtype: bool

In [29]:
print(len(df_training))
print(len(df_train))

2431898
2431899

In [4]:
import numpy as np
np.logspace(-2, 2, 5)

array([1.e-02, 1.e-01, 1.e+00, 1.e+01, 1.e+02])